@use 'reset';
@use 'card';

.header{
  background-image: url('https://i.postimg.cc/3rSh6S3D/wallpaper-rick-and-morty.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color:white;
  height: 600px;
  &__background{
    background-color: rgba(0,0,0,0.7);
    height: 600px;
  }
  &__grid{
    display: grid;
    grid-template-columns: 1fr;
    height: 600px;
    align-content: space-between;
    &__nav{
      padding-top: 1rem;
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 1rem;
      &__logo{
        margin: auto;
      }
      &__menu{
        display: flex;
        justify-content: center;
        gap: 3rem;
        & a{
          color:white;
          font-weight: bolder;
          text-shadow: 20px 15px 7px #0093a9;
          &:hover{
            color:#0093a9;
            transform: scale(1.2);
          }
        }
      }
    }
    &__text{
      margin-bottom: 5rem;
      & div{
        display: flex;
        flex-direction: column;
        & hr{
          width: 350px;
          margin-left: 0;
          margin-bottom: 2rem;
        }
        & p{
          max-width: 800px;
          margin-bottom: 1rem;
        }
        & a{
          color:white;
          background-color: black;
          margin: auto;
          margin-left: 0;
          padding: 1rem;
        }
      }
    }
  }
}
.main{
  &__cards{
    &__text{
      color:white;
      padding-bottom: 2rem;
    }
    &__grid{
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      & .card{
        background-color: #e0e0e0;
        margin: auto;
        width: 250px;
        height: 420px;
        padding: 1rem;
        border-radius: 10px;
        &:hover{
          cursor: pointer;
          & h3{
            color:#0093a9;
          }
        }
        &__text{
          padding-top: .5rem;
          & span{
            font-weight: bold ;
          }
          & h3{
            font-size: 1.5rem;
            font-weight: bold;
          }
        }
      }
    }
  }
}
.footer{
  background-color:#0093a9;
  height: 50px;
  color:white;
  text-align: center;
  font-size: .8rem;
  padding-top: 20px;
}
@media (min-width: 768px) {
  .header{
    &__grid{
      &__nav{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      &__logo{
        margin:0
      }
      }
    }
  }
}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {
 
}